
.DS_Store
*.dll
*.dll
bin/
obj/
.vs/
.idea/
src/TXM/.vs/
src/TXM.idea/
src/TXM/.vs/TXM/xs/UserPrefs.xml
src/TXM/.vs/TXM/xs/project-cache/TXM.Core-Debug.json
src/TXM/.vs/TXM/xs/UserPrefs.xml
src/TXM/.idea/.idea.TXM/.idea/workspace.xml
